version: '3.9'
name: pokemon-monitoring
services:

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - "../../monitoring/config/prometheus.yml:/etc/prometheus/prometheus.yml"
    restart: always

  grafana:
    image: grafana/grafana
    depends_on:
      - prometheus
    container_name: grafana
    ports:
      - '3000:3000'